<!DOCTYPE html>
<html>
  <head>
    <title>RPG Character Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <nav>
        <%= image_tag 'default.jpg' %>
        <div class="title">
          <%= link_to "RPG Character Manager | ", root_path %>
          <% if user_signed_in? %>
            <%= link_to @user.email, edit_user_registration_path %>
            <%end%>
        </div>
        <div class="navmenu">
          <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <%= link_to "Manage Account", edit_user_registration_path %>
        <% else %>
        <%= link_to "Sign In", new_user_registration_path %>
        <%= link_to "Sing up", new_user_session_path %>
        <% end %>
        </div>
      </nav>
    </div>

    <div class="alerts">
<!--      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
-->
      <% flash.each do |name, message| %>
        <%= content_tag :div, message, { class: "alert alert-info"} %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
